# /emergency-finder/.gitignore

# Dependencies
node_modules/
/client/node_modules
/server/node_modules

# Environment Variables
.env
.env.*
!.env.example
/client/.env
/server/.env

# Database
/server/db/dev.sqlite3

# Uploads
/server/uploads/

# Build output
/client/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db